@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Permanent+Marker&family=Stick+No+Bills:wght@800&display=swap");
body {
  background-color: #ffebc9;
  margin: 0;
  color: #402218;
}
.header {
  background-color: #c68b59;
  height: 110px;
  text-align: center;
}
h1 {
  display: inline-block;
  font-family: "Stick No Bills", sans-serif;
  font-size: 100px;
  margin: 0 auto;
  color: #402218;
}
h1:hover {
  color: white;
}
#brew {
  display: inline-block;
  padding-top: 5px;
  position: absolute;
  left: 180px;
  top: -8px;
}
#brew:hover {
  color: white;
}
.nav {
  background-color: #c68b59;
  width: 100%;
  height: 20px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  position: sticky;
  top: 0px;
}
.p1 {
  margin: 0%;
}
.nav:hover {
  background-color: #402218;
  color: white;
}
.coffee-head {
  text-align: center;
  font-size: 50px;
  font-family: "Montserrat", sans-serif;
  margin: 10px 0 0;
}
.coffee-strong {
  font-weight: bolder;
}
.coffee-strong:hover{
    color: red;
}
.health {
  border: 2px solid #402218;
  display: inline-block;
  height: 190px;
  width: 500px;
  position: relative;
  left: 350px;
  text-align: justify;
  word-spacing: 5px;
  padding: 20px 30px 40px;
  font-family: "Merriweather", serif;
}
.help{
    background-color: #c68b59;
    height: 75px;
    width: 75px;
    position: fixed;
    top: 250px;
    right: 1px;
    border-radius: 50%;
}
#help{
  padding-left: 12px;
  padding-top: 10px;
}
.help:hover{
    background-color: rgb(39, 206, 39);
}
#help:hover{
  color: white;
}
.types {
  font-family: "Permanent Marker", cursive;
  text-align: center;
  font-size: 40px;
  margin-top: 30px;
}
.types:hover{
    color: #bb5c09;
}
.ptypes {
  font-family: "Merriweather", serif;
  text-align: justify;
  margin: 0 25px;
}
.ultypes {
  font-family: "Merriweather", serif;
  text-align: justify;
  margin-right: 25px;
}
.gallery {
  background-color: #c68b59;
  width: 100%;
  height: 1125px;
  position: relative;
}
img {
  height: 250px;
  width: 380px;
}
.i1 {
  position: absolute;
  left: 25px;
  top: 25px;
}
.i2 {
  position: absolute;
  left: 442px;
  top: 25px;
}
.i3 {
  position: absolute;
  right: 25px;
  top: 25px;
}
.i4 {
  position: absolute;
  left: 25px;
  top: 300px;
}
.i5 {
  position: absolute;
  left: 442px;
  top: 300px;
}
.i6 {
  position: absolute;
  right: 25px;
  top: 300px;
}
.i7 {
  position: absolute;
  left: 25px;
  top: 575px;
}
.i8 {
  position: absolute;
  left: 442px;
  top: 575px;
}
.i9 {
  position: absolute;
  right: 25px;
  top: 575px;
}
.i10 {
  position: absolute;
  left: 25px;
  top: 850px;
}
.i11 {
  position: absolute;
  left: 442px;
  top: 850px;
}
.i12 {
  position: absolute;
  right: 25px;
  top: 850px;
}
.brand{
    width: 50%;
    margin: auto;
    text-align: left;
    line-height: 1.75;
    text-align: justify;
}
.brands{
    font-family: "Merriweather", serif;
}
.brand-img1{
    width: 25%;
    float: left;
    height: 200px;
    width: 280px;
    margin-right: 30px;
    margin-top: 20px;
}
.brand-img1:hover{
    height: 200px;
    width: 280px;
}
.brand-img2{
    width: 25%;
    float: right;
    height: 280px;
    width: 280px;
    margin-left: 30px;
    margin-top: 10px;
}
.brand-img2:hover{
    height: 280px;
    width: 280px;
}
.form{
    border: 2px solid #402218;
    background-color: #dba97d;
    height: 240px;
    width: 500px;
    margin: 5px auto 30px;
    text-align: left;
    padding-left: 180px;
    font-family: "Merriweather", serif;
}
.formhead{
    margin: 20px auto 5px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}
.formbutton{
    background-color: #402218;
    color: white;
    margin-left: 140px;
    font-family: "Montserrat", sans-serif;
}
.formbutton:hover{
    background-color: white;
    color: #402218;
}
.footer {
  background-color: #c68b59;
  height: 150px;
  display: flex;
  text-align: center;
}
.foot {
  background-color: #c68b59;
  width: 100%;
  height: 20px;
  text-align: center;
}
.fot {
  margin: 0px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #402218;
  text-decoration: none;
}
.fot:hover {
  color: white;
}
.feet {
  text-align: center;
}
.reachus {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  color: #402218;
  position: block;
  margin: 0 auto;
}
.last {
  margin: 0px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #402218;
}
.last:hover {
  color: white;
}
.ads {
  position: absolute;
  right: 20px;
  text-align: left;
}
.adshead {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-top: 0px;
}
.adshead:hover {
  color: white;
}
.ref {
  height: 20px;
  width: 400px;
  display: flex;
  position: absolute;
  margin-top: 80px;
  margin-left: 430px;
  justify-content: space-evenly;
}
h2 {
  margin: 0px;
}
.view {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: bold;
  margin: 0px;
}
.view:hover {
  color: white;
}
.mug {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 120px;
  margin-top: 25px;
}
.mug:hover {
  color: white;
}
